.ReactModal__Body--open {
  overflow-y: hidden;
}

#processButton {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.paramsModal {
  position: absolute;
  top: 15%;
  left: 17.5%;
  right: 17.5%;
  /* bottom: 15%; */
  height: fit-content;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  overflow: scroll;
}

.paramsModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
}

.modalChild {
  display: flex;
  margin-left: 50px;
  margin-top: 40px;
  margin-right: 140px;
}

.params {
  margin-left: 30px;
  width: 100%;
}

.settingsIcon {
  height: 60px;
}

h3 {
  font-size: 1.33rem;
}

.data {
  margin-bottom: 30px;
}

.buttonGrp button {
  width: 33.33%;
  height: 40px;
  border: 1px solid rgba(74, 74, 74, 0.5);
  font-weight: 500;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.buttonGrp button:not(:first-child) {
  margin-left: -1.5px;
}

.buttonGrp button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.buttonGrp button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.buttonGrp button:hover {
  background-color: rgba(74, 74, 74, 0.1);
}

#resModelButton,
#histEqButton,
#enhanceButton {
  color: #ed5940;
  border-color: #ed5940;
  background-color: rgba(237, 89, 64, 0.15);
  z-index: 2;
}

.paramsLine {
  height: 3px;
  background-color: rgba(74, 74, 74, 0.2);
  margin-bottom: 30px;
}

.params .primaryButton,
.params .secondaryButton {
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}
